In [2]:
import pandas as pd
from collections import Counter
import itertools
import numpy as np
from scipy import stats

In [10]:
working_dir = "C:\\Users\\Joshua\\Documents\\GitSources\\TabletopGames_StirFry18\\SF18Experiments\\10000RUNS"
action_taken_dataframe = pd.read_csv(working_dir+'\\ACTION_TAKEN.csv')

In [12]:
# Create a simplified dataframe with only the columns we want
simplified_df = action_taken_dataframe[['GameSeed', 
                                        'FavoredCards(Discarded card)', 
                                        'FavoredCards(Favored Cards)']]

# Remove rows where both card columns have no value
# This handles various forms of "no value" (None, NaN, empty string)
simplified_df = simplified_df.dropna(subset=['FavoredCards(Discarded card)', 
                                            'FavoredCards(Favored Cards)'], 
                                    how='all')

# Also remove rows where both columns are empty strings
mask = ~((simplified_df['FavoredCards(Discarded card)'].fillna('') == '') & 
         (simplified_df['FavoredCards(Favored Cards)'].fillna('') == ''))
simplified_df = simplified_df[mask]

# Display the first few rows of the simplified dataframe
simplified_df.head()

Original shape: (1341234, 17)
Simplified shape: (292663, 3)

,GameSeed,FavoredCards(Discarded card),FavoredCards(Favored Cards)
0,-1477572306,SOY_SAUCE,GREEN_ONION-NOODLES-NOODLES-PORK-
7,-1477572306,CHICKEN,GINGER-GREEN_ONION-MUSHROOMS-NOODLES-SOY_SAUCE-
25,-1477572306,PORK,GINGER-NOODLES-NOODLES-SHRIMP-
26,-1477572306,NOODLES,CHICKEN-GINGER-NOODLES-SHRIMP-SOY_SAUCE-
32,-1477572306,MUSHROOMS,MUSHROOMS-NOODLES-SOY_SAUCE-

In [22]:
# Create a simplified dataframe with only the columns we want
simplified_df = action_taken_dataframe[['GameSeed', 
                                        'FavoredCards(Discarded card)', 
                                        'FavoredCards(Favored Cards)']]

# Remove rows where both card columns have no value
simplified_df = simplified_df.dropna(subset=['FavoredCards(Discarded card)', 
                                            'FavoredCards(Favored Cards)'], 
                                    how='all')

# Also remove rows where both columns are empty strings
mask = ~((simplified_df['FavoredCards(Discarded card)'].fillna('') == '') & 
         (simplified_df['FavoredCards(Favored Cards)'].fillna('') == ''))
simplified_df = simplified_df[mask]

# Rename the columns
simplified_df = simplified_df.rename(columns={
    'FavoredCards(Discarded card)': 'Discarded card',
    'FavoredCards(Favored Cards)': 'Favored card'
})

# Display the first few rows of the simplified dataframe
simplified_df.head()

Original shape: (1341234, 17)
Simplified shape: (292663, 3)

      GameSeed Discarded card                                     Favored card
0  -1477572306      SOY_SAUCE                GREEN_ONION-NOODLES-NOODLES-PORK-
7  -1477572306        CHICKEN  GINGER-GREEN_ONION-MUSHROOMS-NOODLES-SOY_SAUCE-
25 -1477572306           PORK                   GINGER-NOODLES-NOODLES-SHRIMP-
26 -1477572306        NOODLES         CHICKEN-GINGER-NOODLES-SHRIMP-SOY_SAUCE-
32 -1477572306      MUSHROOMS                     MUSHROOMS-NOODLES-SOY_SAUCE-

In [16]:
pd.isnull(simplified_df).values.sum()

0

In [24]:
# Function to clean up the favored cards string and remove duplicates
def clean_and_deduplicate_favored_cards(card_string):
    if pd.isna(card_string) or card_string == '':
        return ''
    
    # Remove trailing dash if present
    if card_string.endswith('-'):
        card_string = card_string[:-1]
    
    # Split by dash, remove duplicates while preserving order, and rejoin
    items = card_string.split('-')
    
    # Remove duplicates while preserving order
    unique_items = []
    for item in items:
        if item and item not in unique_items:  # Skip empty strings and duplicates
            unique_items.append(item)
    
    # Rejoin the unique items
    return '-'.join(unique_items)

# Apply the cleaning and deduplication function
simplified_df['Favored card'] = simplified_df['Favored card'].apply(clean_and_deduplicate_favored_cards)

# If you want to also create a list version of the column
simplified_df['Favored card list'] = simplified_df['Favored card'].apply(
    lambda x: x.split('-') if x else []
)

# Display the first few rows of the cleaned dataframe
simplified_df.head()

After cleaning and removing duplicates:
['GREEN_ONION-NOODLES-PORK', 'GINGER-GREEN_ONION-MUSHROOMS-NOODLES-SOY_SAUCE', 'GINGER-NOODLES-SHRIMP', 'CHICKEN-GINGER-NOODLES-SHRIMP-SOY_SAUCE', 'MUSHROOMS-NOODLES-SOY_SAUCE']

,GameSeed,Discarded card,Favored card,Favored card list
0,-1477572306,SOY_SAUCE,GREEN_ONION-NOODLES-PORK,"[GREEN_ONION, NOODLES, PORK]"
7,-1477572306,CHICKEN,GINGER-GREEN_ONION-MUSHROOMS-NOODLES-SOY_SAUCE,"[GINGER, GREEN_ONION, MUSHROOMS, NOODLES, SOY_..."
25,-1477572306,PORK,GINGER-NOODLES-SHRIMP,"[GINGER, NOODLES, SHRIMP]"
26,-1477572306,NOODLES,CHICKEN-GINGER-NOODLES-SHRIMP-SOY_SAUCE,"[CHICKEN, GINGER, NOODLES, SHRIMP, SOY_SAUCE]"
32,-1477572306,MUSHROOMS,MUSHROOMS-NOODLES-SOY_SAUCE,"[MUSHROOMS, NOODLES, SOY_SAUCE]"

In [26]:
# First, make sure we have the 'Favored card list' column
if 'Favored card list' not in simplified_df.columns:
    # Create the 'Favored card list' column from the 'Favored card' column
    simplified_df['Favored card list'] = simplified_df['Favored card'].apply(
        lambda x: [] if pd.isna(x) or x == '' else list(dict.fromkeys(x.rstrip('-').split('-')))
    )

# Now drop the 'Favored card' column
simplified_df = simplified_df.drop(columns=['Favored card'])

# Rename 'Favored card list' to 'Favored card' if you want to keep the original name
simplified_df = simplified_df.rename(columns={'Favored card list': 'Favored card'})

# Display the first few rows of the modified dataframe
print("Columns after modification:", simplified_df.columns.tolist())
simplified_df.head()

Columns after modification: ['GameSeed', 'Discarded card', 'Favored card']

,GameSeed,Discarded card,Favored card
0,-1477572306,SOY_SAUCE,"[GREEN_ONION, NOODLES, PORK]"
7,-1477572306,CHICKEN,"[GINGER, GREEN_ONION, MUSHROOMS, NOODLES, SOY_..."
25,-1477572306,PORK,"[GINGER, NOODLES, SHRIMP]"
26,-1477572306,NOODLES,"[CHICKEN, GINGER, NOODLES, SHRIMP, SOY_SAUCE]"
32,-1477572306,MUSHROOMS,"[MUSHROOMS, NOODLES, SOY_SAUCE]"

In [28]:
# Create a list to store all pairs
all_pairs = []

# Iterate through each row in the simplified dataframe
for _, row in simplified_df.iterrows():
    discarded = row['Discarded card']
    favored_list = row['Favored card']  # This should be a list now
    
    # Skip if discarded is empty or favored_list is empty
    if pd.isna(discarded) or discarded == '' or not favored_list:
        continue
    
    # Create pairs between discarded card and each element in favored list
    for favored in favored_list:
        if favored:  # Skip empty strings
            all_pairs.append((discarded, favored))

# Count the occurrences of each pair
pair_counts = Counter(all_pairs)

# Create a new dataframe from the pair counts
pairs_df = pd.DataFrame([
    {'Discarded': pair[0], 'Favored': pair[1], 'Count': count, 'Value': -1 * count}
    for pair, count in pair_counts.items()
])

# Sort by count in descending order
pairs_df = pairs_df.sort_values('Count', ascending=False).reset_index(drop=True)

# Display the total number of unique pairs and the first few rows
print(f"Total unique pairs: {len(pairs_df)}")
pairs_df.head(10)

Total unique pairs: 61

   Discarded      Favored  Count  Value
0    NOODLES    SOY_SAUCE  39072 -39072
1    NOODLES      NOODLES  38521 -38521
2    NOODLES    MUSHROOMS  38237 -38237
3     SHRIMP      NOODLES  32273 -32273
4  SOY_SAUCE    MUSHROOMS  30244 -30244
5    NOODLES       GINGER  29306 -29306
6     SHRIMP    SOY_SAUCE  29026 -29026
7     SHRIMP    MUSHROOMS  28540 -28540
8       PORK      NOODLES  28135 -28135
9    NOODLES  GREEN_ONION  28059 -28059

In [48]:
# Function to create a canonical representation of a pair (alphabetical order)
def canonical_pair(item1, item2):
    return tuple(sorted([item1, item2]))

# Function to calculate Wilson score interval for a proportion
def wilson_score_interval(p, n, z=1.96):  # z=1.96 for 95% confidence
    denominator = 1 + z**2/n
    center = (p + z**2/(2*n)) / denominator
    spread = z * np.sqrt(p * (1 - p) / n + z**2 / (4 * n**2)) / denominator
    return center, spread

# First, create the pairs between discarded and favored
discarded_favored_pairs = []

# Iterate through each row in the simplified dataframe
for _, row in simplified_df.iterrows():
    discarded = row['Discarded card']
    favored_list = row['Favored card']  # This should be a list now
    
    # Skip if discarded is empty or favored_list is empty
    if pd.isna(discarded) or discarded == '' or not favored_list:
        continue
    
    # Create pairs between discarded card and each element in favored list
    for favored in favored_list:
        if favored:  # Skip empty strings
            # Store pairs in canonical form (alphabetically sorted)
            discarded_favored_pairs.append(canonical_pair(discarded, favored))

# Count the occurrences of each discarded-favored pair
discarded_favored_counts = Counter(discarded_favored_pairs)

# Now, create pairs WITHIN the favored card lists
within_favored_pairs = []

# Iterate through each row in the simplified dataframe
for _, row in simplified_df.iterrows():
    favored_list = row['Favored card']  # This should be a list now
    
    # Skip if favored_list is empty or has only one element
    if not favored_list or len(favored_list) < 2:
        continue
    
    # Create all possible pairs within the favored list
    for item1, item2 in itertools.combinations(favored_list, 2):
        if item1 and item2:  # Skip empty strings
            # Store pairs in canonical form (alphabetically sorted)
            within_favored_pairs.append(canonical_pair(item1, item2))

# Count the occurrences of each within-favored pair
within_favored_counts = Counter(within_favored_pairs)

# Create a combined dictionary of all pairs and their values
all_pair_values = {}

# Add discarded-favored pairs with value -1 per occurrence
for pair, count in discarded_favored_counts.items():
    all_pair_values[pair] = {
        'Count_Negative': count,  # Count of -1 values
        'Count_Zero': 0,          # Count of 0 values
        'Total_Count': count,
        'Value': -1 * count
    }

# Add within-favored pairs with value 0 per occurrence
for pair, count in within_favored_counts.items():
    if pair in all_pair_values:
        all_pair_values[pair]['Count_Zero'] = count
        all_pair_values[pair]['Total_Count'] += count
        # Value remains unchanged since adding 0
    else:
        all_pair_values[pair] = {
            'Count_Negative': 0,
            'Count_Zero': count,
            'Total_Count': count,
            'Value': 0
        }

# Create a new dataframe from all pairs
pairs_df = pd.DataFrame([
    {
        'Ingredient1': pair[0], 
        'Ingredient2': pair[1], 
        'Count': data['Total_Count'], 
        'Value': data['Value'],
        'Count_Negative': data['Count_Negative'],
        'Count_Zero': data['Count_Zero']
    }
    for pair, data in all_pair_values.items()
])

# Add the Average column (Value/Count)
pairs_df['Average'] = pairs_df['Value'] / pairs_df['Count']

# Calculate proportion of negative values (p)
pairs_df['Proportion_Negative'] = pairs_df['Count_Negative'] / pairs_df['Count']

# Calculate Wilson score center and error
wilson_results = pairs_df.apply(
    lambda row: wilson_score_interval(row['Proportion_Negative'], row['Count']),
    axis=1
)

# Add Wilson score error column
pairs_df['Wilson_Center'] = [-result[0] for result in wilson_results]  # Negate because our values are negative
pairs_df['Wilson_Error'] = [result[1] for result in wilson_results]

# Sort by count in descending order
pairs_df = pairs_df.sort_values('Count', ascending=False).reset_index(drop=True)

# Display the first few rows with the most important columns
pairs_df[['Ingredient1', 'Ingredient2', 'Count', 'Average', 'Wilson_Center', 'Wilson_Error']].head(10)

Total unique pairs: 33
Pairs from discarded-favored: 33
Pairs from within-favored: 28

   Ingredient1  Ingredient2   Count   Average  Wilson_Center  Wilson_Error
0      NOODLES    SOY_SAUCE  184902 -0.361921      -0.361924      0.002190
1    MUSHROOMS      NOODLES  179863 -0.346686      -0.346689      0.002199
2    MUSHROOMS    SOY_SAUCE  168907 -0.341951      -0.341955      0.002262
3       GINGER      NOODLES  136111 -0.287949      -0.287955      0.002406
4  GREEN_ONION      NOODLES  131735 -0.273655      -0.273662      0.002408
5       GINGER    SOY_SAUCE  131240 -0.297562      -0.297568      0.002473
6  GREEN_ONION    SOY_SAUCE  128715 -0.282974      -0.282980      0.002461
7       GINGER    MUSHROOMS  128219 -0.281417      -0.281423      0.002461
8  GREEN_ONION    MUSHROOMS  125708 -0.269076      -0.269083      0.002452
9       GINGER  GREEN_ONION   97237 -0.216265      -0.216277      0.002588

In [52]:
pairs_df

,Ingredient1,Ingredient2,Count,Value,Count_Negative,Count_Zero,Average,Proportion_Negative,Wilson_Center,Wilson_Error
0,NOODLES,SOY_SAUCE,184902,-66920,66920,117982,-0.361921,0.361921,-0.361924,0.002190
1,MUSHROOMS,NOODLES,179863,-62356,62356,117507,-0.346686,0.346686,-0.346689,0.002199
2,MUSHROOMS,SOY_SAUCE,168907,-57758,57758,111149,-0.341951,0.341951,-0.341955,0.002262
3,GINGER,NOODLES,136111,-39193,39193,96918,-0.287949,0.287949,-0.287955,0.002406
4,GREEN_ONION,NOODLES,131735,-36050,36050,95685,-0.273655,0.273655,-0.273662,0.002408
5,GINGER,SOY_SAUCE,131240,-39052,39052,92188,-0.297562,0.297562,-0.297568,0.002473
6,GREEN_ONION,SOY_SAUCE,128715,-36423,36423,92292,-0.282974,0.282974,-0.282980,0.002461
7,GINGER,MUSHROOMS,128219,-36083,36083,92136,-0.281417,0.281417,-0.281423,0.002461
8,GREEN_ONION,MUSHROOMS,125708,-33825,33825,91883,-0.269076,0.269076,-0.269083,0.002452
9,GINGER,GREEN_ONION,97237,-21029,21029,76208,-0.216265,0.216265,-0.216277,0.002588
10,CHICKEN,NOODLES,96527,-43886,43886,52641,-0.454650,0.454650,-0.454652,0.003141
11,NOODLES,PORK,90159,-43602,43602,46557,-0.483612,0.483612,-0.483613,0.003262
12,CHICKEN,SOY_SAUCE,86905,-36956,36956,49949,-0.425246,0.425246,-0.425249,0.003287
13,NOODLES,SHRIMP,86618,-47112,47112,39506,-0.543905,0.543905,-0.543903,0.003317
14,CHICKEN,MUSHROOMS,85100,-35438,35438,49662,-0.416428,0.416428,-0.416432,0.003312
15,PORK,SOY_SAUCE,82012,-37171,37171,44841,-0.453239,0.453239,-0.453241,0.003407
16,MUSHROOMS,PORK,80598,-35775,35775,44823,-0.443870,0.443870,-0.443872,0.003430
17,SHRIMP,SOY_SAUCE,78782,-40399,40399,38383,-0.512795,0.512795,-0.512794,0.003490
18,MUSHROOMS,SHRIMP,77508,-39070,39070,38438,-0.504077,0.504077,-0.504077,0.003520
19,CHICKEN,GINGER,66200,-24404,24404,41796,-0.368640,0.368640,-0.368648,0.003675
20,CHICKEN,GREEN_ONION,65164,-23560,23560,41604,-0.361549,0.361549,-0.361557,0.003689
21,GINGER,PORK,62647,-25538,25538,37109,-0.407649,0.407649,-0.407655,0.003848
22,GREEN_ONION,PORK,61941,-24539,24539,37402,-0.396167,0.396167,-0.396174,0.003852
23,GINGER,SHRIMP,60445,-29017,29017,31428,-0.480056,0.480056,-0.480058,0.003983
24,GREEN_ONION,SHRIMP,59821,-28296,28296,31525,-0.473011,0.473011,-0.473013,0.004001
25,CHICKEN,PORK,42281,-22287,22287,19994,-0.527116,0.527116,-0.527114,0.004759
26,CHICKEN,SHRIMP,41171,-25985,25985,15186,-0.631148,0.631148,-0.631136,0.004661
27,PORK,SHRIMP,39515,-27797,27797,11718,-0.703454,0.703454,-0.703435,0.004503
28,NOODLES,NOODLES,38521,-38521,38521,0,-1.000000,1.000000,-0.999950,0.000050
29,SOY_SAUCE,SOY_SAUCE,13777,-13777,13777,0,-1.000000,1.000000,-0.999861,0.000139
30,MUSHROOMS,MUSHROOMS,12870,-12870,12870,0,-1.000000,1.000000,-0.999851,0.000149
31,GINGER,GINGER,2991,-2991,2991,0,-1.000000,1.000000,-0.999359,0.000641
32,GREEN_ONION,GREEN_ONION,2967,-2967,2967,0,-1.000000,1.000000,-0.999353,0.000647

In [54]:
# Save the discard ranking to a CSV file
output_filename = working_dir+'\\discarded_ingredient_ranking.csv'
pairs_df.to_csv(output_filename, index=False)
print(f"\nCombined ranking saved to '{output_filename}'")

Combined ranking saved to 'C:\Users\Joshua\Documents\GitSources\TabletopGames_StirFry18\SF18Experiments\10000RUNS\discarded_ingredient_ranking.csv'